<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>攝像頭的安全請求驗證與權限管理</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" href="/">
        <span class="fs-4">
          攝像頭的安全請求驗證與權限管理
        </span>
      </a>
     
      <ul class="navbar-nav ms-auto">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">Welcome, {{ current_user.first_name }}</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary me-2" href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="btn btn-outline-primary me-2" href="{{ url_for('auth.login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning" href="{{ url_for('auth.register') }}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  
  <!-- 警示框容器 -->
    <div id="alert-container" class="alert-container">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="alert {{messages[0][0]}} alert-dismissible fade show" role="alert">
        {{ messages[0][1] }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      {% endwith %}
    </div>


  <!-- 主要內容部分 -->
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/messages.js') }}"></script>
</body>
</html>
