/* styles.css */

.logo-image {
  max-width: 168px; /* Adjust the max-width to your preference */
  height: auto;
}

.alert-container {
  position: fixed;
  top: 2%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, 0);
  z-index: 1000;
}
.abc{
  max-width: 10%; 
  height: auto;    
}
.def{
  max-width: 25%; 
  height: auto;   
}
.logo-image1 {
  max-width: 45%;
}
.btn-square {
  width: 50px;
  height: 50px;
  border-radius: 0;
}