
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>BB</title>
        <link href="css/a.css" rel="stylesheet" media="all">
    </head>
    <body>
        <h1>檢舉你</h1>
        <nav>
            <ul>
                <li><a href="log.html">登入&emsp;</a>
                    <a href="">新增使用者&emsp;</a>
                    <a href="">新增裝置&emsp;</a>
                    <a href="">個人成長&emsp;</a>
                    <a href="">設計&emsp;</a>
                    <a href="">通訊工程與軟體&emsp;</a>
                </li>
            </ul>
        </nav>
    </body>
</html>
