<html lang="en">
  <head>
    <title>Signin</title>
  </head>
  <body class="text-center"> 
    <main class="form-signin w-100 m-auto">
      <form>
        <img class="mb-4" src="#" alt="" >
        <h4 class="h3 mb-3 fw-normal">Please sign in</h4>
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="account">
          <label for="floatingInput" style="text-decoration: underline">account</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="password">
          <label for="floatingPassword"style="text-decoration: underline">password</label>
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">©abc123</p>
      </form>
    </main>
  </body>
</html>