
body {
    padding: 20px 0;
}

h1,h2 {
    text-align:center;
    margin: 0;
    padding: 34px 0 14px 40px;
    text-decoration:none; 
    color:inherit;
}
nav a {
    font-size: 1.2rem;
    padding: 10px;
}
a {
    color:inherit; /* 移除超連結顏色 */
    text-decoration:none;  /* 移除超連結底線 */
}

/* 滑鼠移到 <a> 時變成深底淺色 */
nav a:hover {
    background-color: rgb(115, 115, 115);
    color: white;
}
